/*Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: Arial, sans-serif; /*jenis font halaman */
    line-height: 1.6; /*jarak antara baris teks */
    background-color: #f5f5f5; /*warna background */
    color: #333; /*warna teks default */
    padding: 20px; /*jarak tepi halaman */
}

/*header */
header {
    text-align: center; /*text rata tengah */
    padding: 20px; /*jarak di dalam header */
    background-color: gray; /* warna header */
    color: white; /*warna teks */
    border-radius: 10px; /*sudut membulat */
}

/* Nav header */
header nav a {
    margin: 0 10px; /*jarak horizontal antar link */
    text-decoration: none; /* menghapus garis bawah link */
    color: white;
    font-weight: bold; /* membuat teks tebal */
}

header nav a:hover {
    color: red; /* menambahkan warna saat hover */
    text-decoration: underline; /* menambahkan garis bawah saat hover */
}

/*main section */
main section {
    background-color: antiquewhite; /*warna untuk tiap section */
    padding: 20px; /*jarak di dalam section */
    margin: 20px 0; /*jarak antar section */
    border-radius: 10px; /*sudut membulat section */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 1); /*bayangan lembut */
}

/*images */
img {
    border-radius: 50px; /* sudut membulat gambar */
    max-width: 100%; /*gambar tidak melebihi lebar container */
    height: auto; /*tinggi mengikuti proporsi */
    box-shadow: 0 4px 8px rgba(0,0,0,2); /*menambahkan shaadow */
    display: flexbox;
}
.gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 10px;
}

/*button */
button {
    background-color: white; /*memberikan warna tombol */
    color: black; /* teks warna putih */
    padding: 10px 20px; /* jarak dalam tombol */
    border: none; /*menghilangkan border */
    border-radius: 5px; /*sudut tombol */
    cursor: pointer; /*cursor berubah tangan saat hover */
}

button:hover {
    background-color: red;
}

/*footer */
footer {
    text-align: center; /*teks rata tengah */
    margin-top: 20px; /*jarak dari content di atas */
    padding: 10px; /*jarak didalam footer */
    background-color: gray; /*warna background */
    color: white; /*teks putih */
    border-radius: 10px; /*sudut bulat */
}

/* responsive dedign */
@media (max-width: 768px) {
    header nav a {
        display: block; /*link navigasi jadi satu garis vertikal */
        margin: 10px 0; /*jarak antar link */
    }
    img {
        width: 100%; /* gambar penuh di layar kecil */
        height: auto; /*proporsional tinggi gambar */
    }
}